<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>715091999841-u95l6sfn0fnc12mreen3s0gnns72uqgh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.715091999841-u95l6sfn0fnc12mreen3s0gnns72uqgh</string>
	<key>API_KEY</key>
	<string>AIzaSyDeZ2lytF2ajEOohGlPROW7XfZKKk2duec</string>
	<key>GCM_SENDER_ID</key>
	<string>715091999841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.smaphonia.SimpleRendezvous</string>
	<key>PROJECT_ID</key>
	<string>simplerendezvous</string>
	<key>STORAGE_BUCKET</key>
	<string>simplerendezvous.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:715091999841:ios:a1808d5fc0ea056e</string>
	<key>DATABASE_URL</key>
	<string>https://simplerendezvous.firebaseio.com</string>
</dict>
</plist>